.newsitem {
    font-size: 20px;
    margin-left: 10px;
}

.ptr {
    cursor: pointer;
}

.line{
    background-color: bisque;
    margin: 5%;
    border-radius: 20px;
    padding-left: 30%;
    margin-left: 3%;
}

.author {
    padding-left: 120px;
    font-style: italic;
}

.newsitem > span {
    padding-left: 10px;
}